/* body styling */
body {
    display: grid;
    text-align: center;
    background-image: url(../images/bg.jpg);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    color: white;
}

/* navbar styling */
.navbar {
    padding: 1.5rem;
    position: fixed;
    margin-right: auto;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5) !important;
    z-index: 1;
}

span {
    margin-left: auto;
    padding-right: 1rem;
}

/* health bar section styling */

meter::-webkit-meter-optimum-value {
    box-shadow: 0 5px 5px -5px #999 inset;
    background-image: linear-gradient(90deg, #f81606 var(--error), #e7cf1b var(--warning), #23d329 var(--ok));
    background-size: 100% 100%;
}

.ground {
    margin-top: 15%;
}

/* game rounds styling */
.game-round {
    display: none;
    margin-top: 3rem;
}

.game-round-active {
    display: block;
}

/* Main headings styling*/
#mainheading {
    font-family: 'Tapestry', cursive;
}

h2,
h3 {
    font-family: 'Cinzel', serif;
}

.players {
    font-family: 'Bebas Neue', cursive;
}

/* player image styling */
img {
    width: 150px;
    height: 200px;
    mix-blend-mode: multiply;
}

.player2 {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

/* button styling */
.btn {
    background-color: red;
    font-family: 'Cinzel', serif;
    color: white;
}

/* media query */
@media screen and (max-width:900px) {
    body {
        background: url(../images/bgmb.jpg) fixed center;
        width: 100%;
        height: 100%;
    }

    .navbar {
        height: 40%;
        font-size: medium;
    }

    .ground {
        margin-top: 35%;
    }

    img {
        width: 75px;
        height: 100px;
        mix-blend-mode: multiply;
    }
}

@media screen and (max-width:500px) {
    body {
        background: url(../images/bgmb.jpg) fixed center;
        width: 100%;
        height: 100%;
    }

    .ground {
        margin-top: 60%;
    }
}